body {background-color:rgb(62, 112, 100);}


p {
    color:grey;
    text-align: center;
  }

h1  {
    color: maroon;
    text-align: center;
    font-size: x-large;
    text-decoration-line: underline;
    text-underline-position: below;
    }

h2  { 
    color: maroon;
    text-align: center;
    font-size: larger;
    }

ol {
   color: maroon;
   text-align: justify;
   border-style: solid;
   border-color: tomato;
   margin-top: 50px;
   margin-bottom: 100px;
   margin-right: 500px;
   margin-left: 500px;
   padding-top: 25px;
   padding-right: 100px;
   padding-bottom: 25px;
   padding-left: 100px;
   font-size: larger;
   list-style: decimal;
   }
